body {
    -webkit-animation: color-fade 10s infinite;
   
  }
  
  @-webkit-keyframes color-fade {
    0% { background: #ffbf69; }
    25% { background: #82c0cc; }
    50% { background: #489fb5; }
    75% { background: #16697a; }
    100% { background: #ffa62b; }
  }
  button{
    appearance: auto;
    align-items: flex-start;
    padding: 1em 2em;
    display: inline-block;
    margin-left: 550px;
    margin-top: 250px;
    
  }

  
 